@use './breakpoints' as *;

.text-preset-1 {
  font-size: 80px;
  line-height: normal;
  letter-spacing: 0;

  @include respond-to(sm) {
    font-size: 100px;
    letter-spacing: 0.2em;
  }

  @include respond-to(md) {
    font-size: 110px;
  }
}

.text-preset-2 {
  font-size: 56px;
  line-height: normal;
  letter-spacing: 0;

  @include respond-to(sm) {
    font-size: 80px;
  }

  @include respond-to(md) {

  }
}

.text-preset-3 {
  font-size: 56px;
  line-height: normal;
  letter-spacing: 0;
}

.text-preset-4 {
  font-size: 32px;
  line-height: normal;
  letter-spacing: 0;
}

.text-preset-5 {
  font-size: 28px;
  line-height: normal;
  letter-spacing: 4px;
}

.text-preset-6 {
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0;

  @include respond-to(sm) {
    font-size: 24px;
    letter-spacing: 0.2em;
  }
}

.text-preset-7 {
  font-size: 14px;
  line-height: normal;
  letter-spacing: 2px;
}

.text-preset-8 {
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
}

.text-preset-8-bold {
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2.7px;
  font-weight: bold;
}

.text-preset-9 {
  font-size: 15px;
  line-height: 180%;
  letter-spacing: 0;

  @include respond-to(sm) {
    font-size: 20px;
    line-height: 180%;
  }

  @include respond-to(md) {
    font-size: 23px;
    line-height: 150%;
  }
}
