<div class="header">
  <img class="logo" src="/icons/logo.svg" alt="Logo">

  <div class="nav-desktop">
    <ul>
      <li routerLinkActive="active" routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="text-preset-8">
          <span class="text-preset-8-bold">00</span>
          HOME
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/destination"
          [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="text-preset-8">
          <span class="text-preset-8-bold">01</span>
          DESTINATION
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/crew"
          [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="text-preset-8">
          <span class="text-preset-8-bold">02</span>
          CREW
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/technology"
          [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="text-preset-8">
          <span class="text-preset-8-bold">03</span>
          TECHNOLOGY
        </a>
      </li>
    </ul>
  </div>

  <div class="burger" (click)="toggleMenu()">
    @if (!menuOpen) {
      <img src="/icons/icon-hamburger.svg" alt="Menu">
    } @else {
      <img src="/icons/icon-close.svg" alt="Close">
    }
  </div>

  <nav class="nav-mobile" [class.open]="menuOpen">
    <ul>
      <li routerLinkActive="active" routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMenu()"
      >
        <a class="text-preset-8">
          <span class="text-preset-8-bold">00</span>
          HOME
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/destination"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMenu()"
      >
        <a class="text-preset-8">
          <span class="text-preset-8-bold">01</span>
          DESTINATION
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/crew"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMenu()"
      >
        <a class="text-preset-8">
          <span class="text-preset-8-bold">02</span>
          CREW
        </a>
      </li>
      <li routerLinkActive="active" routerLink="/technology"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMenu()"
      >
        <a class="text-preset-8">
          <span class="text-preset-8-bold">03</span>
          TECHNOLOGY
        </a>
      </li>
    </ul>
  </nav>
</div>
